<!doctype html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
   <title>Scrum board</title>
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
   <link href="/static/app.css" rel="stylesheet" media="all">
 </head>
  <body>
    <div class="board-list">
      <div class="pull-right">
        Logged as <em>{{.Account.Name}}</em>.
        <a href="/logout">Logout</a>.
      </div>

      <h1>Available scrum boards</h1>
      <ul>
        <li class="board-link">
          Visible to everyone <a href="/b/b685c036049f6c2f35cc1b03af6815b352b8557e">demo Scrum Board</a>
          <i class="fa fa-users" aria-hidden="true"></i>
        </li>
        {{range .Boards}}
          <li class="board-link">
            <a href="/b/{{.ID}}">{{.Name}}</a>
          </li>
        {{end}}
      </ul>


      <h1>Create new board</h1>
      <form action="/new" method="POST">
        <input name="name" type="text" required placeholder="Board name" minlength="2" maxlength="120">
        <button type="submit">Create new Board</button>
      </form>
    </div>

    <div class="footer">
      <a href="https://github.com/husio/scrumboard" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
        source code
      </a>
    </div>
  </body>
</html>
