<!doctype html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
   <title>Login{{if .Debug}} ⛏{{end}}</title>
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
   <link href="/static/app{{if not .Debug}}.min{{end}}.css" rel="stylesheet" media="all">
 </head>
  <body>
    <div class="login-card">
      <a href="/login/github">
        <i class="fa fa-github" aria-hidden="true"></i>
        <p>authenticate with GitHub account</p>
      </a>
    </div>
  </body>
</html>
